.orders-year-filter {
  padding: 16px;

  display: grid;
  gap: 15px;

  &__actions {
    display: flex;
    gap: 15px;

    & > * {
      flex-grow: 1;
    }
  }

  &__hint {
    text-align: center;
    font-size: small;
  }
}
